* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav a {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.2em;
  color: #112334;
  border-bottom: 2px solid #112334;
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: tomato;
  border-bottom: 2px solid tomato;
}

#home {
  height: 50vh;
  min-height: 400px;
  background-color: cornsilk;
}

#home,
#about,
#projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  padding: 1rem;
  color: #112334;
}

@media (max-width: 700px) {
  #home {
    height: 100vh;
  }

  #about {
    padding-top: 40vh;
    height: 150vh;
  }

  #bio {
    font-size: .7rem;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  #projects {
    padding-top: 30vh;
    height: 320vh;
  }

  #nav a {
    font-size: 1em;
  }


}

#about img {
  max-height: 50%;
}

#about a {
  display: block;
}

#projects {
  background-color: cornsilk;
  min-height: 400px;
}

#project-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
}

.project-item {
  background-color: white;
  padding: 2rem;
  margin: 1rem;
}

.technologies span {
  background-color: lightblue;
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 4px;
  display: inline-block;
}

#bio {
  display: grid;
  grid-template-rows: auto auto auto;
  margin-left: 20vw;
  margin-right: 20vw;
  font-size: 1.1rem;
}

#heretoo {
  padding-top: 2vh;
  font-size: 1.4rem;
}

#aboutClicks {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 2vh;
}

.aboutLinks {
  text-decoration: none;
  color: #112334;
  margin-right: 5vw;
  margin-left: 5vw;
  font-size: 1.5rem;
}

@media (min-width: 700px) {
  #project-list {
    flex-direction: row;
  }

  .project-item {
    width: 50%;
  }
}
